@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');


.formLabel {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    display: block;
    text-align:center;
}

.saveProfile__button.btn.btn-dark
 {
    font-family: 'Nunito', sans-serif;
    display: flex;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

.profile__title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    display: block;
    text-align:center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.profile {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    text-align: center;
}